.egais {
  h1 {
    color: #542e16;
    font-weight: bold;
    font-family: 'Arial';
    margin-bottom: 16px;
    font-size: 23px;
    line-height: 1.3;
  }

  &__text-grey {
    font-size: 14px;
    color: #545454;
    line-height: 1.4;
  }

  &__img-block {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 30px;
    align-items: flex-start;
  }

  &__img-block-desc {
    flex: 1;
  }

  &__img-block-img {
    width: 140px;
    margin-left: 30px;
  }

  &__text-black {
    font-size: 16px;
    color: #2d2d2d;
  }

  a {
    font-size: 16px;
    color: #de9829;
    text-decoration: underline;
  }

  h2 {
    font-size: 16px;
    font-weight: bold;
    color: #545454;
    margin-bottom: 20px;
  }

  &__products {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
    padding-left: 30px;
    max-width: 900px;

    @include atMobile{
      display: block;
      padding: 0px;
      margin: 0;
    };
  }

  &__product {
    box-shadow: 0 0 3px 0 #aaa;
    border-radius: 5px;
    width: 40%;
    margin: 10px;
    padding: 15px 30px;

    @include atMobile{
      width: 100%;
      margin: 20px 0;
    };
  }

  &__list {
    padding-left: 0px;
  }

  &__product-header {
    margin-left: -30px;
    border: 1px solid #000;
    border-width: 1px 1px 1px 0;
    font-size: 16px;
    padding: 7px 15px;
    border-radius: 0 10px 10px 0;
    box-shadow: 1px 0 4px 0 #ccc;
    color: #230607;
    margin-bottom: 20px;

    &--brown {
      border-color: #f9a922;
    }

    &--green {
      border-color: #5cce00;
    }
  }

  &__li {
    font-size: 14px;
  }

  &__products-desc {
    padding-left: 40px;
    margin-top: 25px;
    font-size: 10pt;
  }

  &__about {
    margin: 30px 0;
    box-shadow: 0 0 3px 0 #aaa;
    padding: 5px 20px;
    border-radius: 5px;
  }

  &__about-header {
    margin: 18px 0;
    font-size: 18px;
    font-weight: 700;
    color: #930;
    text-align: center;
  }

  &__about-list {
    list-style: none;
    counter-reset: my-counter;

    @include atMobile{
      padding-left: 0;
    };
  }

  &__penalty-list {
    @include atMobile{
      padding-left: 15px;
    };
  }

  &__about-li {
    counter-increment: my-counter;
    position: relative;
    padding-left: 20px;
    font-size: 16px;
    color: #353535;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }

    &:before {
      content: counter(my-counter) ". ";
      color: red;
      font-size: 18px;
      color: #df9923;
      font-weight: bold;
      position: absolute;
      left: 0;
      top: -1px;
    }
  }

  &__dashed{
      display: block;
      width: 86.23087621696801%;
      bottom: 0;
      border: 1px dashed #de9829;
      margin: 25px auto;
      border-width: 1px 0 0 0;
  }

  &__warning {
    background: url(../img/alert.png) no-repeat left center;
    padding-left: 50px;
    font-size: 16px;
    color: #2d2d2d;

    @include atMobile{
      padding-top: 50px;
      padding-left: 0;
      background-position: top left;
    };
  }
}
